<section>
    <form>
        <section>
            <h1>Edit Post</h1>   
        </section>
        <section>
            <input placeholder="title">
            <input placeholder="content">
        </section>
        <button type="submit">Update Post</button>
        <button type="submit">Delete Post</button>
    </form>
   
</section>