<h1>{{post.title}}</h1>
<section>
<h2> Comment</h2>
    <section>
        <input placeholder="type your comment here">
    </section>
<button type="submit">Submit Comment</button>

{{#if}}
{{>comment-content}}
{{/if}}
</section>
