{{log posts}}
{{#each posts }}
<section>
    <h2>{{title}}</h2>
    <h2>{{author}}</h2>
    <p>{{content}}</p>
</section>
{{/each}}

<button type="submit">Create Post</button>



{{!-- I only want the partial for the post creation to show up when the
button is pressed --}}