
<h1>Dashboard</h1>

{{#each posts }}
<div class="post">
    <h2>{{title}}</h2>
    <p>Author: {{author}}</p>
    <p>{{content}}</p>
</div>
{{/each}}

<a href="/api/posts">Create Post</a>



{{!-- I only want the partial for the post creation to show up when the
button is pressed --}}