{{#each}}
<section>
    <h2>{{post.title}}</h2>
    <h2>{{post.created_on}}</h2>
</section>
{{/each}}

<button type="submit">Create Post</button>



{{!-- I only want the partial for the post creation to show up when the
button is pressed --}}