<h1> The Tech Blog</h1>
{{#each posts}}
<a href="/comment">
<section>
    <section>
<h2>{{post.title}}</h2>
    </section>
    <section>
        <p> {{post.content}}</p>
    </section>
        <p>{{post.author}} , {{post.created_on}}</p>
</section>
</a>
{{/each}}