<section>
<label> Login </label>
<form id="login-form">
    <section>
        <label for="username-login"> Username </label>
        <input id="username-login"type="username" placeholder="Enter username here">
    </section>
    <section>
 <label for="password-login"> Password </label>
    <input id="password-login" type="password" placeholder="Enter password here" autocomplete="off">
    </section>
   
    <button type="submit">Login</button>
    <a href="/signup">Sign up here instead</a>
</form>
</section>

<script src="/js/login.js"></script>


