<section>
    <h1>{{post.title}}</h1>
    <p> By: {{post.author}} {{post.created_on}}</p>
    <section id="newComment">
        <h2> Comment</h2>
        <section>
            <textarea name="comment" placeholder="type your comment here">

            </textarea>
        </section>
        <button type="submit">Submit Comment</button>
    </section>
</section>
<script src="../public/js/newComment.js"></script>