{{#if loggedIn}}
<div class="post">
    <h2>Create New Post</h3=2>
        <form class="container" id="new-post-form">
            <label for="post-title" class="form-label">Title</label>
            <input type="text" id="post-title" name="post-title" class="form-input" />

            <label class="form-label" for="post-content">Content</label>
            <input id="post-content" name="content" class="form-input" />

            <button type="submit" class="btn">Create</button>
        </form>
</div>
{{else}}
<p>Please log in to create a post.</p>
{{/if}}
<script src="/js/newPost.js"></script>