<section>
<label> Sign Up </label>
<form action="/submit_form">
    <section>
        <label> Username </label>
        <input type="username" placeholder="Enter username here">
    </section>
    <section>
 <label for="password-login"> Password </label>
    <input type="password" placeholder="Enter password here" autocomplete="off">
    </section>
   
    <button type="submit">Sign Up</button>
    <a href="/login">Log in here instead</a>
</form>
</section>
